body {
    /* display: flex;
    justify-content: left;
    align-items: center; */
    /* height: 100vh; */
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

h1 {
    color: black;
    padding-bottom: 15px;
    align-items: center;
    text-align: center;
}

input {
    padding-bottom: 20px;
    padding-right: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.msg-com {
    padding-bottom: 100px;
}